.footer {
  background-color: $background-black;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer__content {
  @extend %container;
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (min-width: 1200px) {
    justify-content: start;
  }
}

.logo__group {
  @media (min-width: 768px) {
  }
}

.address {
  font-size: 14px;
  line-height: 1.71;
}

.address__street {
  margin: 0;
  margin-top: 20px;
  color: $white-color;
  font-style: normal;
}

.address__link {
  margin-top: 9px;
  display: block;
  // display: flex;
  color: $white-fill;
  text-decoration: none;
  font-style: normal;
}

.footer__social {
  // margin-left: 70px;
  margin-top: 60px;
  @media (min-width: 768px) {
    margin-top: 5px;
    margin-left: 165px;
  }
  @media (min-width: 1200px) {
    margin-top: 5px;
    margin-left: 70px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $white-color;
  margin: 0 0 20px 0;
  padding: 0px;
  @media (min-width: 1200px) {
    text-align: start;
  }
}
