.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  @extend %list;
}

.portfolio__item {
  margin: 15px;
  background-color: $white-color;
  transition: box-shadow 250ms $standart-cubic;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio__text {
    transform: translateY(0);
  }
}

.portfolio__title {
  color: $title-text-color;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.portfolio__paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio__group {
  padding: 20px 24px;
  border-left: 1px solid $border-gray-color;
  border-bottom: 1px solid $border-gray-color;
  border-right: 1px solid $border-gray-color;
}

.portfolio__card {
  position: relative;
  overflow: hidden;
}

.portfolio__text {
  transform: translateY(100%);
  position: absolute;
  display: inline-block;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 23px;
  background-color: $accent-color-transparent;
  font-size: 18px;
  line-height: 1.56;
  color: $white-color;
  transition: transform 250ms $standart-cubic;
}
