.site-nav {
  padding: 0;
}

.site-nav__list {
  @extend %list;
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.site-nav__link {
  color: $title-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms $standart-cubic;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__link--current {
  color: $accent-color;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 4px;
    width: 100%;

    background-color: $accent-color;
    border-radius: 2px;
  }
}
