.team {
  background-color: $background-button;

  @extend %section;
}

.team__list {
  @extend %list;
  margin: -30px 0;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  margin: 30px 0;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    margin: 15px;
    max-width: calc(50% - 15px * 2);
  }
  @media screen and (min-width: 1200px) {
    max-width: calc(100% / 4 - 15px * 2);
  }
}

.team__text {
  padding-top: 30px;
}

.team__name {
  margin: 0;
  margin-bottom: 10px;
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team__paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
