$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-color-transparent: rgba(33, 150, 243, 0.9);
$accent-color-btn: #188ce8;
$white-color: #ffffff;
$background-black: #2f303a;
$white-fill: rgba(255, 255, 255, 0.6);
$background-button: #f5f4fa;
$background-portfolio-gray: #f6f6f6;
$border-gray-color: #eeeeee;
$icon-gray-color: #afb1b8;
$icon-gray-footer: #44454e;
$modal-backdrop-color: rgba(0, 0, 0, 0.2);
$border-header-color: #ececec;
$standart-cubic: cubic-bezier(0.4, 0, 0.2, 1);